body {

  h1, h2, h3, h4, div, p, button, input {
    font-family: 'Aladin', cursive;
    letter-spacing: 2px;
    font-weight: 800;
  }

  i {
    letter-spacing: 0;
  }

  .box, .hero {
    background-color: #ececec;
  }

  div.ms {
    text-align: center;
  }

  i.ms-guild-simic {
    position: relative;
    top: -8px;
    background-color: transparent;
  }

  nav.panels {

    div.win-rate {

      p {
        margin-left: 7px;
      }

      input {
        margin-left: 10px;
        width: 65px;
      }
    }

    div.deck-cards {
      height: 110vh;
      overflow: scroll;
      border: solid 1px lightgrey;
      border-top: none;
      background-color: #fafafa;

      div.panel-block {
        background-color: white;

        p {
          font-size: 20px;
          margin-left: 7px;
        }

        i.ms-cost {
          margin-left: 2px;
        }
      }
    }
  }



  div.card-front {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 15px;

    &:hover {
      border-color: dodgerblue;
    }
  }

  div.navbar-brand {
    div.logo {
      font-family: 'Aladin', cursive;
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Aladin&display=swap');
@charset "utf-8";
@import "~bulma/bulma";
